* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262625;
}

.container {
  width: 100vw;
  height: 100vh;
}

.colonna {
  width: 30vw;
  height: 80vh;
  min-width: 205px;
  background-color: #e8e8e3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.riquadro {
  width: 95%;
  height: 31%;
  margin: 2% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 195px;
  position: relative;
  min-height: fit-content;
}

.uno {
  background-image: url("../img/img1.jpg");
}

.due {
  background-image: url("../img/img2.jpg");
}

.tre {
  background-image: url("../img/img3.jpg");
}

h2 {
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  width: 100%;
  height: 100%;
  align-content: center;
  position: relative;
  min-width: 205px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.45);
}
